# Basic Python Programming Language

## Install Python


Please follow the link below to download and run the installer. We will be using the Anaconda distribution of python - as it is almost a standard for data science projects/work. 

- [Windows](https://docs.anaconda.com/anaconda/install/windows/)
- [MacOS](https://docs.anaconda.com/anaconda/install/windows/)
- [Others](https://docs.anaconda.com/anaconda/install/)

In [1]:
# Int, strings, floats, and boolean

### Basic Data types

In [1]:
#Int

123

123

In [32]:
#String

"123"

'123'

In [33]:
#float

1.23

1.23

In [39]:
#boolean

True

True

In [52]:
#Literal = 123, 234 'abc'

#variables 

# Variables are placeholders that have been assigned (=) some values of a single datatype (mentioned above).

a = 20.3
b = 3

x = "Sample String"

In [51]:
a / b

6.666666666666667

Collections where I can store multiple values 

- List `[]`
- Tuple

In [55]:
#List

my_list = [1, 2, 3, 4, 5, 6, 7, 8, a, b]

In [56]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 20.3, 3]

In [69]:
# 0 based indexing is used in python and we take out values beg from index 0

index = 8

my_list[index]

20.3

In [70]:
x = my_list[index]

In [71]:
x

20.3

Use `type` to return the object's type.

In [13]:
type(1.23)

float

## Type conversion

In [17]:
'abc' + str(1)

'abc1'

In [15]:
1.1 + 1

2.1

`multiply_numbers` is a function that takes two numbers and adds them together.

In [22]:
def multiply_numbers(x, y):
    answer = x * y
    return answer

In [21]:
multiply_numbers(2, 4)

18

`multiply_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [23]:
def multiply_numbers(x,y,z=None):
    if (z==None):
        return x*y
    else:
        return x*y*z

print(multiply_numbers(1, 2))
print(multiply_numbers(1, 2, 3))

2
6

`multiply_numbers` updated to take an optional flag parameter.

In [ ]:
def multiply_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(multiply_numbers(1, 2, flag=True))

In [ ]:
type(multiply_numbers)

### Collecion Data types

- List
- Tuple
- Set
- Dictionary

#### List

Lists are a mutable data structure.

In [73]:
x = [1, 'a', 2, 'b']

In [84]:
x.append(False)

In [86]:
x

[1, 'a', 2, 'b', 10, 10, 10, False, 3.3, False]

Use `append` to append an object to a list.

In [81]:
x.append(3.3)
x

[1, 'a', 2, 'b', 10, 10, 10, False, 3.3]

Use `len` operator to find list's length. Length operator is polymorphic - meaning it can be used on different types of objects.

In [85]:
len(x)

10

In [83]:
len(x)

9

This is an example of how to loop through each item in the list.

In [ ]:
for item in x:
    print(item)

Or using the indexing operator:

Use `+` to concatenate lists.

In [ ]:
[1,2] + [3,4]

Use `*` to repeat lists.

In [ ]:
[1]*3

Use the `in` operator to check if something is inside a list.

In [ ]:
1 in [1, 2, 3]

Bracket `[]` notation to slice a string

In [ ]:
x = 'Sample String'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters


Negative indexing. This will return the last element of the string.

In [ ]:
x[-1]

This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [ ]:
x[-4:-2]

This is a slice from the beginning of the string and stopping before the 3rd element.

In [ ]:
x[:3]

And this is a slice starting from the 4th element of the string and going all the way to the end.

In [ ]:
x[3:]

In [ ]:
firstname = 'Abhimanyu'
lastname = 'Hans'

print(firstname + ' ' + lastname)
print((firstname + ' ') * 3)
print('Abhi' in firstname)

`split` returns a list of all the words in a string, or a list split on a specific character.

In [ ]:
string = 'Abc Def XYZ 123'

words = string.split(' ') # [0] selects the first element of the list
word = string.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

#### Tuple

Tuples are an immutable data structure (cannot be altered).

In [ ]:
x = (1, 'a', 2, 'b')
type(x)

#### Set

- Set are just like sets from mathematical set theory
- They can store all sorts of stuff - but all unique.
- They are defined by curly braces `{}` or keyword `set`
- Unlike tuple and list, set does not maintain any particular order of items. Therefore, it don't have slicing operations `[]`

In [ ]:
my_set = {1, 12, 123, 12}

my_set

In [ ]:
my_list = [1, 2, 3, 4, 6, 6, 6, 6]

print("length of my_list:", len(my_list))

my_set = set(my_list)

print("length of my_set:", len(my_set))

Intersection and Union operation using sets

In [ ]:
A = {'A', 1, '1'}
B = {'B', '1', 1, 2}

A.intersection(B)

In [ ]:
A.union(B)

In [ ]:
A.intersection(B)

#### Dictionary

- Dictionaries associate keys with values
- We can think of them key-value pairs where keys are unique in nature
- Many keys can have same values.

In [ ]:
x = {'Abhimanyu Hans': 'ahans1@umd.edu', 'GIS and Data Labs': 'gisdata@umd.edu'}
x['GIS and Data Labs'] # Retrieve a value by using the indexing operator

In [ ]:
x['Outsider'] = None

<br>
Iterate over all of the keys:

In [ ]:
for name in x:
    print(x[name])

<br>
Iterate over all of the values:

In [ ]:
for email in x.values():
    print(email)

<br>
Iterate over all of the items in the list:

In [ ]:
for name, email in x.items():
    print(name, '--', email)

Unpacking a sequence into different variables:

In [ ]:
x = ('Abhimanyu', 'Hans', 'ahans1@umd.edu')
fname, lname, email = x

In [ ]:
fname

In [ ]:
lname

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [ ]:
x = ('Abhimanyu', 'Hans', 'ahans1@umd.edu', 'CollegePark')
fname, lname, email = x

## Excercise 

Define a function that accepts 2 `lists` (`x` and `y`) and returns a `list` `z` that has unique elements from both the lists.

In [1]:
sum = 10 + 20

In [2]:
sum

30

In [3]:
my_str = 'Hello'
str_two = 'World'
answer = my_str + ' ' + str_two
answer

'Hello World'

In [20]:
len(my_str)

5

In [27]:
my_list = [1, 2, 3, 4, 10]
my_list.append(20)
my_list.append(30)

In [28]:
my_list

[1, 2, 3, 4, 10, 20, 30]

In [30]:
my_dict = {'key1': 10, 'key2': 20}
my_dob = {'date': 30, 'month': 'May', 'year': 1996}

In [33]:
my_dob['hour'] = 3

In [34]:
my_dob

{'date': 30, 'month': 'May', 'year': 1996, 'hour': 3}

In [35]:
def add_num(num1, num2):
    answer = num1 + num2
    return answer

In [36]:
add_num(5, 13)

18

In [2]:
def print_roots(a, b, c):
    den = 2*a
    num1 = (-1 * b) + (((b**2) - (4*a*c)) ** 0.5)
    num2 = (-1 * b) - (((b**2) - (4*a*c)) ** 0.5)
    
    print("Root 1:", num1/den)
    print("Root 2:", num2/den)

In [3]:
print_roots(1, 10, -24)

Root 1: 2.0
Root 2: -12.0

In [18]:
a = 10
b = 10

a != b

False

In [17]:
#Remember '%' is modulo operator 
# that returns the remainder of a division

num = 102.5
if num % 2 == 0:
    print('The number is even!')
else:
    print('The number is odd!')

The number is odd!

In [24]:
# print elements of a list using for loop 

for element in [1, 2, 3, 4, 5]:
    print(element)

1
2
3
4
5

In [30]:
# print elements of a list using `for` loop 
# using a `range` function

for element in range(1, 6):
    print(element)

1
2
3
4
5

### FizzBuzz problem

Print the following for all numbers from 1 to 100:
- If the number is divisible by 3, print ‘Fizz’
- If the number is divisible by 5, print ‘Buzz’
- If the number is NOT divisible by 3 or 5, then print the number itself

In [32]:
for elt in range(1, 100+1):
    if elt % 3 == 0:
        print('Fizz')
    if elt % 5 == 0:
        print('Buzz')
    else:
        print(elt)

1
2
Fizz
3
4
Buzz
Fizz
6
7
8
Fizz
9
Buzz
11
Fizz
12
13
14
Fizz
Buzz
16
17
Fizz
18
19
Buzz
Fizz
21
22
23
Fizz
24
Buzz
26
Fizz
27
28
29
Fizz
Buzz
31
32
Fizz
33
34
Buzz
Fizz
36
37
38
Fizz
39
Buzz
41
Fizz
42
43
44
Fizz
Buzz
46
47
Fizz
48
49
Buzz
Fizz
51
52
53
Fizz
54
Buzz
56
Fizz
57
58
59
Fizz
Buzz
61
62
Fizz
63
64
Buzz
Fizz
66
67
68
Fizz
69
Buzz
71
Fizz
72
73
74
Fizz
Buzz
76
77
Fizz
78
79
Buzz
Fizz
81
82
83
Fizz
84
Buzz
86
Fizz
87
88
89
Fizz
Buzz
91
92
Fizz
93
94
Buzz
Fizz
96
97
98
Fizz
99
Buzz