# NumPy

NumPy is a library for the Python programming language used for handling data to:
- adding large, multi-dimensional arrays and matrices, 
- perform a large collection of high-level mathematical functions

NumPy documentation can be accessed using [this link](https://numpy.org/doc/stable/).

In [ ]:
#Import numpy

import numpy as np

## Creating Arrays

Create a list and convert it to a numpy array

In [ ]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

In [ ]:
y = np.array([4, 5, 6])
y

Pass in a list of lists to create a multidimensional array.

In [ ]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

In [ ]:
m.shape

In [ ]:
x.shape, y.shape

`arange` returns evenly spaced values within a given interval.

In [ ]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n

`reshape` returns an array with the same data with a new shape.

In [ ]:
n = n.reshape(3, 5) # reshape array to be 3x5
n

`linspace` returns evenly spaced numbers over a specified interval.

In [ ]:
o = (np.linspace(0, 100, 9)) # return 9 evenly spaced values from 0 to 4
o

`resize` changes the shape and size of array in-place.

In [ ]:
o.resize(3, 3)
o

`ones` and `zeros` returns a new array of given shape and type, filled with ones and zeroes respectively.

In [ ]:
np.ones((3, 2))

In [ ]:
np.zeros((2, 3))

`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.
This is akin to identity matrix in math.

In [ ]:
np.eye(3)

`diag` extracts a diagonal or constructs a diagonal array.

In [ ]:
np.diag(y)

Create an array using repeating list (or see `np.tile`)

In [ ]:
np.array([1, 2, 3] * 3)

Repeat elements of an array using `repeat`.

## Combining multiple arrays

In [ ]:
p = np.ones([2, 3], int)
p

Use `vstack` to stack arrays in sequence vertically (row wise).

In [ ]:
np.vstack([p, 2*p])

Use `hstack` to stack arrays in sequence horizontally (column wise).

In [ ]:
np.hstack([p, 2*p])

## Operations on numpy arrays

Use element wise operations:
- `+` for addition
-  `-` for subtraction
- `*` for multiplication
-  `/` for division
- `**` for power

In [ ]:
print(x + y) # elementwise addition     [1 2 3] + [4 5 6] = [5  7  9]
print(x - y) # elementwise subtraction  [1 2 3] - [4 5 6] = [-3 -3 -3]

In [ ]:
print(x * y) # elementwise multiplication  [1 2 3] * [4 5 6] = [4  10  18]
print(x / y) # elementwise divison         [1 2 3] / [4 5 6] = [0.25  0.4  0.5]

In [ ]:
print(x**2) # elementwise power  [1 2 3] ^2 =  [1 4 9]

**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [ ]:
x.dot(y) # dot product  1*4 + 2*5 + 3*6

In [ ]:
z = np.array([y, y**2])
print(len(z)) # number of rows of array

In [ ]:
zz = np.array([[1, 2, 3, 4, 5, 6]])
len(zz)

Transposing arrays (causing permutes the dimensions of the array).

In [ ]:
z

In [ ]:
z.shape

Use `.T` to get the transpose.

In [ ]:
z.T

In [ ]:
z.T.shape

Use `.dtype` to see the data type of the elements in the array.

In [ ]:
z.dtype

In [ ]:
abc = np.array([['abc', '1', 3], ['xyz', '2', 33]])
abc.T

Use `.astype` to cast to a specific type.

In [ ]:
z = z.astype('f')
z.dtype

In [ ]:
#Builins math functions

a = np.array([-4, -2, 1, 3, 5])

In [ ]:
a.sum()

In [ ]:
a.max(), a.min(), a.mean(), a.std()

`argmax` and `argmin` return the index of the maximum and minimum values in the array.

In [ ]:
a.argmax()

## Indexing / Slicing

In [ ]:
s = np.arange(13)**2
s

Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

In [ ]:
s[0], s[4], s[-1]

Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

In [ ]:
s[1:5]

In [ ]:
s[-4:]

A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

In [ ]:
s[-5::-2]

Introducing multidimensional array!

In [ ]:
r = np.arange(36)
r.resize((6, 6))
r

Use bracket notation to slice: `array[row, column]`

In [ ]:
r[2, 2]

And use `:` to select a range of rows or columns

In [ ]:
r[3, 3:6]

Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

In [ ]:
r[:2, :-1]

In [ ]:
r[-1, ::2]

In [ ]:
r[r > 30]

We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

In [ ]:
r[r > 30] = 30
r

## Copying Data

Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [ ]:
r2 = r[:3,:3]
r2

Set this slice's values to zero ([:] selects the entire array)

In [ ]:
r2[:] = 0
r2

`r` has also been changed!

To avoid this, use `r.copy` to create a copy that will not affect the original array

In [ ]:
r_copy = r.copy()
r_copy

Now when `r_copy` is modified, `r` will not be changed.

In [ ]:
r_copy[:] = 10
print(r_copy, '\n')
print(r)

## Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.

In [ ]:
test = np.random.randint(0, 10, (4,3))
test

In [ ]:
#iterate row by row

for row in test:
    print(row)

In [ ]:
#By index

for i in range(len(test)):
    print(test[i])

In [ ]:
#By row and index:

for i, row in enumerate(test):
    print('row', i, 'is', row)